@import 'tailwindcss';


html,body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #000000;
  color: white;
}

html::-webkit-scrollbar{
  display: none;
}

html::selection{
  background-color: white;
  color: #000000;
}

textarea::-webkit-scrollbar{
  display: none;
}